{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h2 class="text-center">Business Accessibility Search</h2>
    <p class ="lead">Enter a location to find nearby businesses and their reported accessibility.</p>
    <form class="my-2 my-lg-0" action='/' method="POST">
        <input id="mapsearch" class="form-control mr-sm-2" type="text" placeholder="ex: food in Boston" aria-label="Search" name='searchAddress'>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="transform: translate(0, -3px);">Search</button>
    </form>

    {% if success_message %}
        <br/>
        <h3>{{ success_message }}</h3>
    {% endif %}

{% endblock %}
