{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 class="text-center">Our Mission</h1>
    <p class="lead">
        People with disabilities often have difficulty finding places that are accessible -
        despite many efforts, an inability to determine whether stores and restaurants
        are accessible for them increases the quality of life for those with disabilities. This
        hack is a proof-of-concept of a larger system in which those with disabilities and 
        allies of the disabled can post and receive information about accomodations at specific businesses.
	</p>

	<div class="modal-body row">
  		<div class="col-md-6">
    		<img src="static/stock-1.jpg" alt="Person">
  		</div>
  		<div class="col-md-6">
			<img src="static/stock-2.jpg" alt="Person">
  		</div>
	</div>	

{% endblock %}
