{% extends "layout.html" %}

{% block title %}
    Report
{% endblock %}

{% block main %}
    <h2>{{ place_name }} - Accessibility Report </h2>
    <form action="/report" method="post">
        <div class="form-group">
            <table class="table table-striped">
                <tr>
                    <td>
                        Wheelchair Accessibility
                    </td>
                    <td>
                        <select name="wheelchair">
                            <option disabled selected>Building Accessibility</option>
                            <option value="1">Accessible</option>
                            <option value="0">Inaccessible</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Bathroom Accessibility
                    </td>
                    <td>
                        <select name="bathroom_access">
                                <option disabled selected>Bathroom Accessibility</option>
                                <option value="1">Accessible bathrooms</option>
                                <option value="0">Inaccessible bathrooms</option>
                            </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Accessible Door Width (in)
                    </td>
                    <td>
                        <input autocomplete="off" autofocus class="form-control" name="door_width" placeholder="Width" type="number">
                    </td>
                </tr>
                <tr>
                    <td>
                        Accessible Table height (in)
                    </td>
                    <td>
                        <input autocomplete="off" autofocus class="form-control" name="table_height" placeholder="Height" type="number">
                    </td>
                </tr>
            </table>
        </div>
        <input autocomplete="off" style="display:none;" value="{{place_id}}" type = "hidden" name="place_id">
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
{% endblock %}
